html {
  background: url("img/modernbackground.jpg") no-repeat fixed center;
  background-size: cover;
}

body {
  width: 600px;
  margin: 25px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  padding: 25px 100px;
  border-radius: 25px;
}
p {
  font-size: 17px;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
button {
  background-color: black;
  color: white;
  padding: 2px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
.form {
  border-radius: 15px;
  font-size: 15px;
}
